<%- include('../partials/header') %>

<section id="show-page">
    <img src="<%= user.avatar %>" alt="Avatar">
    <div>Name: <%= user.name %></div>
    <div>Bio: <%= user.bio %></div>
</section>

<%- include('../partials/footer') %>