<%- include('../partials/header') %>

<section id="show-page">
    <div>Title: <%= race.title %></div>
    <br>
    <div>Description: <%= race.description %></div>
    <br>
    <div>Date: <%= race.date %></div>
</section>

<%- include('../partials/footer') %>