<%- include('../partials/header') %>

<section id="show-page">
    <div>Race Organizer:</div>
    <br>
    <label id="user-detail">
        <%= user.name %>
        <br>
        <a href="/profiles/<%= user._id %>">
            <img src="<%= user.avatar %>" alt="Avatar">
        </a>
        <br>
    </label>
    <br>
    <div>Title: <%= race.title %></div>
    <br>
    <div>Date: <%= race.date %></div>
    <br>
    <div>Description: <%= race.description %></div>
</section>

<%- include('../partials/footer') %>